<li>
    <a ng-href="editlink">{{name}}</a>

    <div class="btn-group" style="padding-left: 20px;">
        <button type="button" class="btn btn-default btn-xs" ng-click="edit()">Edit</button>
        <button type="button" class="btn btn-danger btn-xs" ng-click="remove()">Delete</button>
    </div>
    <div class="small" ng-bind-html="resourceid"></div>
    <label class="small" ng-bind-html="summary"></label>
</li>

<select class="form-control" id="valuetype" ng-model="model">
    <div ng-repeat="item in model">

    </div>
</select>
