/* app css stylesheet */
body {
    padding-top: 65px;
}

input.ng-invalid.ng-dirty {
    background-color: peachpuff;
}

span.back a {
    border-bottom: 1px dotted #999999;
    color: #999999;
    text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none;
}