<section id="dashboard-view" class="mainbar" data-ng-controller="dashboard as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-left">
                        <div data-ng-show="vm.isBusy">
                            <img src="/content/images/loading.gif" class="center-block img-responsive"/>
                        </div>
                    </div>
                    <ul class="today-datas pull-right">
                        <li class="blightblue">
                            <div class="pull-left"><i class="fa fa-fire"></i></div>
                            <div class="datas-text pull-right">
                                <span class="bold">{{vm.activeServer.name}}</span>{{vm.activeServer.baseUrl}}
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="widget wviolet">
                        <div data-cc-widget-header title="FHIR Servers"
                             allow-collapse="true"></div>
                        <div class="widget-content text-left text-info">
                            <ul class="list-group">
                                <div data-ng-repeat="s in vm.servers">
                                    <li class="list-group-item">
                                        <a href="#" data-ng-click="vm.changeServer(s.id)" tooltip="Click to change to {{s.name}}">{{s.name}}</a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="widget wgreen">
                        <div data-cc-widget-header title="Conformance Statement"
                             allow-collapse="true"></div>
                        <div class="widget-content text-left text-info">
                            <accordion close-others="true">
                                <accordion-group heading="Summary" is-open="status.isFirstOpen"
                                                 is-disabled="status.isFirstDisabled">
                                    <table class="table table-striped table-hover">
                                        <tr>
                                            <td>Name</td>
                                            <td>{{vm.conformance.name}}</td>
                                        </tr>
                                        <tr>
                                            <td>Description</td>
                                            <td>{{vm.conformance.description}}</td>
                                        </tr>
                                        <tr>
                                            <td>FHIR Version</td>
                                            <td>{{vm.conformance.fhirVersion}}</td>
                                        </tr>
                                        <tr>
                                            <td>Publisher</td>
                                            <td>{{vm.conformance.publisher}}</td>
                                        </tr>
                                        <tr>
                                            <td>Implementation</td>
                                            <td>{{vm.conformance.implementation.description}}</td>
                                        </tr>
                                        <tr>
                                            <td>Url</td>
                                            <td>{{vm.conformance.implementation.url}}</td>
                                        </tr>
                                        <tr>
                                            <td>Format</td>
                                            <td>
                                                <div data-ng-repeat="item in vm.conformance.format">
                                                    <p class="small">{{item}}</p>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </accordion-group>
                                <accordion-group heading="Security">
                                    <div data-ng-show="vm.conformance.rest[0].security">
                                        <table class="table table-striped table-hover">
                                            <tr>
                                                <td>Description</td>
                                                <td>{{vm.conformance.rest[0].security.description}}</td>
                                            </tr>
                                            <tr>
                                                <td>Cross-Origin Resource Sharing (CORS)</td>
                                                <td>{{vm.conformance.rest[0].security.cors}}</td>
                                            </tr>
                                            <div data-ng-show="vm.conformance.rest[0].security.service">
                                                <tr>
                                                    <td>Services</td>
                                                    <td>
                                                        <div data-ng-repeat="item in vm.conformance.rest[0].security.service"
                                                             class="list-group">
                                                            <h5 class="list-group-item-heading">{{item.text}}</h5>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </div>
                                            <div data-ng-show="vm.conformance.rest[0].security.extension">
                                                <tr>
                                                    <td>Extensions</td>
                                                    <td>
                                                        <ul data-ng-repeat="item in vm.conformance.rest[0].security.extension"
                                                            class="list-group">
                                                            <li data-ng-repeat="(key, val) in item" class="list-group-item">
                                                                <strong>{{key}}</strong>: {{val}}
                                                            </li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </div>
                                        </table>
                                    </div>
                                </accordion-group>
                                <accordion-group heading="Supported Resources">
                                    <div class="row" ng-show="vm.conformance">
                                        <div ng-repeat="item in vm.conformance.rest">
                                            <div ng-repeat="resource in item.resource">
                                                <a class="col-lg-3" href="#">{{ resource.type }}</a>
                                            </div>
                                        </div>
                                    </div>
                                </accordion-group>
                                <accordion-group heading="Narrative">
                                    <div class="col-md-8" data-ng-bind-html="vm.conformance.text.div">
                                    </div>
                                </accordion-group>
                            </accordion>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>