<div ng-show="error">
    <alert type="danger">
        <h4>Error reported by {{ activeServer.name }}!</h4>

        <div>
            <p>HTTP Status: <b>{{ error.status }}</b></p>
        </div>
        <div ng-show="error.outcome.issue">
            <div ng-repeat="item in error.outcome.issue">
                <ul class="list-unstyled">
                    <li>Severity: <b>{{ item.severity || "unpsecified" }}</b></li>
                    <li>Details: <b>{{ item.details || "unspecified" }}</b></li>
                    <li>Type: <b>{{ item.type || "unspecified" }}</b></li>
                    <li>Location: <b>{{ item.location || "unspecified" }}</b></li>
                </ul>
            </div>
        </div>
    </alert>
</div>