<div ng-controller="IdentifierController">
    <ng-form name="identifierEditForm" class="form-horizontal" ng-model="identifiers">
        <label class="col-lg-2 control-label">Identifier</label>

        <div class="controls col-lg-10">
            <div class="btn-group" style="padding-bottom: 20px">
                <label class="btn btn-info btn-sm" ng-model="identifier.use" btn-radio="'usual'"><i class="fa fa-bullseye"></i>&nbsp;Usual</label>
                <label class="btn btn-info btn-sm" ng-model="identifier.use" btn-radio="'official'"><i class="fa fa-certificate"></i>&nbsp;Official</label>
                <label class="btn btn-info btn-sm" ng-model="identifier.use" btn-radio="'temp'"><i class="fa fa-eraser"></i>&nbsp;Temp</label>
                <label class="btn btn-info btn-sm" ng-model="identifier.use" btn-radio="'secondary'"><i class="fa fa-code-fork"></i>&nbsp;Secondary</label>
            </div>
        </div>

        <div class="controls col-lg-5 col-lg-offset-2">
            <input required id="identifier-system" class="form-control"
                   ng-pattern="/^(?:(?:https?|urn):)(?:\S+(?::\S*)?@)?(?:(?!10(?:\.\d{1,3}){3})(?!127(?:\.\d{1,3}){3})(?!169\.254(?:\.\d{1,3}){2})(?!192\.168(?:\.\d{1,3}){2})(?!172\.(?:1[6-9]|2\d|3[0-1])(?:\.\d{1,3}){2})(?:[1-9]\d?|1\d\d|2[01]\d|22[0-3])(?:\.(?:1?\d{1,2}|2[0-4]\d|25[0-5])){2}(?:\.(?:[1-9]\d?|1\d\d|2[0-4]\d|25[0-4]))|(?:(?:[a-z\u00a1-\uffff0-9]+-?)*[a-z\u00a1-\uffff0-9]+)(?:\.(?:[a-z\u00a1-\uffff0-9]+-?)*[a-z\u00a1-\uffff0-9]+)*(?:\.(?:[a-z\u00a1-\uffff]{2,})))(?::\d{2,5})?(?:\/[^\s]*)?$/i"
                   placeholder="The namespace for the identifier (must be a valid URI)"
                   ng-model="identifier.system">
        </div>

        <div class="controls col-lg-5">
            <input required id="identifier-value" class="form-control" placeholder="Unique value"
                   ng-model="identifier.value">
        </div>

        <div class="controls col-lg-5 col-lg-offset-2">
            <input id="identifier-label" class="form-control" placeholder="Description of identifier"
                   ng-model="identifier.label">
        </div>

        <div class="controls col-lg-5">
            <input id="identifier-assigner" class="form-control" placeholder="Organization that issued the id"
                   ng-model="identifier.assigner">
        </div>

        <div class="col-lg-12" style="padding-top: 10px">
            <div class="btn-group pull-right">
                <button type="button" class="btn btn-default" ng-click="reset(identifierEditForm)">Reset
                </button>
                <button type="submit" ng-disabled="identifierEditForm.$invalid" class="btn btn-primary"
                        ng-click="saveIdentifier(identifierEditForm, identifier)">Save Identifier
                </button>
            </div>
        </div>
    </ng-form>

    <div ng-show="identifiers" class="col-lg-10 col-lg-offset-2" style="padding-top: 50px">
        <ul class="list-group">
            <div ng-repeat="id in identifiers">
                <identifier-item identifier="id" edit="editIdentifier(id)"
                                 remove="removeIdentifier(id)"/>
            </div>
        </ul>
    </div>
</div>