<section class="mainbar" data-ng-controller="patientDetail as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="btn-group col-md-12">
                    <button class="btn btn-info" data-ng-click="vm.goBack()"><i class="fa fa-hand-o-left"></i>Back
                    </button>
                    <button class="btn btn-info" data-ng-click="vm.edit(vm.patient)"><i class="fa fa-edit"></i>Edit
                    </button>
                    <div class="btn-group pull-right">
                        <button class="btn btn-danger" data-ng-click="vm.delete(vm.patient)"><i
                                class="fa fa-trash-o"></i>Delete
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="widget wblue">
                    <div data-cc-widget-header title="{{ vm.patient.name | fullName }}">
                    </div>
                    <div class="widget-content user col-md-12">
                        <div class="col-md-2">
                            <img data-fs-img-person="vm.patient.photo[0]"
                                 class="img-polaroid" src="/content/images/unknown_person.jpg"/>
                        </div>
                        <div class="col-md-10">
                            <table class="table table-striped table-hover">
                                <tr>
                                    <td>Name</td>
                                    <td>{{vm.patient.name | fullName }}</td>
                                </tr>
                                <tr>
                                    <td>Date of Birth</td>
                                    <td>
                                        <div data-ng-show="vm.patient.birthDate">
                                            {{vm.patient.birthDate | date: longDate}}
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Gender</td>
                                    <td>
                                        {{vm.patient.gender.coding[0].display}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Addresses</td>
                                    <td>
                                        <p class="small" data-ng-repeat="a in vm.patient.address">
                                            <strong>{{a.use}}</strong>: {{a.line.join(', ')}}, {{a.city}}, {{a.state}}
                                            {{a.zip}} {{a.country}}
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Telecommunication</td>
                                    <td>
                                        <p class="small" data-ng-repeat="t in vm.patient.telecom">
                                            <strong>{{t.use}} {{t.system}}</strong>: {{t.value}}
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Contact</td>
                                    <td>
                                        <p class="small" data-ng-repeat="c in vm.patient.contact">
                                            {{c.name.given.join(' ')}} {{c.name.family.join(' ')}}
                                            ({{c.relationship.text || "relationship unspecified"}})
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Links</td>
                                    <td>
                                        <div data-ng-repeat="l in vm.patient.link">
                                            <a href="{{l.other.reference}}">{{l.other.type || "Link Type
                                                Unspecified"}}</a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Primary Language</td>
                                    <td>
                                        {{vm.patient.communication.coding[0].display}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Marital Status</td>
                                    <td>
                                        {{vm.patient.maritalStatus.coding[0].display}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Multiple Birth</td>
                                    <td>
                                        {{vm.patient.multipleBirthInteger || vm.patient.multipleBirthBoolean}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Deceased</td>
                                    <td>
                                        {{vm.patient.deceasedDateTime || vm.patient.deceasedBoolean}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>Managing Organization</td>
                                    <td>
                                        <a href="{{vm.patient.managingOrganization.reference}}">{{vm.patient.managingOrganization.display}}</a>
                                    </td>
                                </tr>
                                <tr data-ng-show="vm.patient.identifier">
                                    <td>Identifiers</td>
                                    <td>
                                        <table class="table table-striped table-hover small">
                                            <thead>
                                            <tr>
                                                <th>System</th>
                                                <th>Value</th>
                                                <th>Label</th>
                                                <th>Use</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-ng-repeat="id in vm.patient.identifier">
                                                <td>{{id.system}}</td>
                                                <td>{{id.value}}</td>
                                                <td>{{id.label}}</td>
                                                <td>{{id.use}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Active</td>
                                    <td>
                                        <i data-fs-true-check="vm.patient.active"></i>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>