<section class="mainbar" data-ng-controller="patients as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <input class="form-control search-query"
                           data-ng-model="vm.searchText"
                           data-ng-keyup="vm.search($event)"
                           placeholder="Find patient by name ..."
                            />

                    <div class="btn-group pull-right">
                        <a class="btn btn-info"
                           data-ng-click="vm.search($event)" data-ng-disabled="!vm.searchText"><i
                                class="fa fa-search"></i><span>Search</span></a>
                        <a class="btn btn-info" href="/patient/new"><i
                                class="fa fa-plus"></i><span>Add Patient</span></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="widget wblue" data-ng-show="vm.patients">
                    <div data-cc-widget-header title="{{vm.title}}"
                         subtitle="{{vm.paging.totalResults}} total results"
                         right-text="Page {{vm.paging.currentPage}} of {{vm.paging.pageCount}}"></div>
                    <div class="widget-content user">
                        <div class="padd list-flow"
                             data-ng-repeat="p in vm.patients"
                             data-ng-click="vm.goToPatient(p)">
                            <div class="user">
                                <img fs-img-person="p.content.photo[0]"
                                     class="img-polaroid stacked" src="/content/images/unknown_person.jpg"/>

                                <div class="name-stack">
                                    <h5>{{p.content.name | fullName}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                        <div data-ng-show="vm.paging.totalResults > vm.paging.pageSize">
                            <pagination boundary-links="false"
                                        ng-change="vm.pageChanged()"
                                        total-items="vm.paging.totalResults"
                                        items-per-page="vm.paging.pageSize"
                                        ng-model="vm.paging.currentPage"
                                        max-size="vm.paging.maxPagesToShow"
                                        class="pagination-small"
                                        previous-text="Prev"
                                        next-text="Next"
                                        first-text="First"
                                        last-text="Last"></pagination>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div data-ng-show="vm.isBusy" class="page-splash dissolve-animation">
            <div class="page-splash-message page-splash-message-subtle">{{vm.busyMessage}}&nbsp;&nbsp;<i
                    class="fa fa-cog fa-spin"></i></div>
        </div>
    </section>
</section>