<section class="mainbar" data-ng-controller="practitionerDetail as vm">
    <section class="matter">
        <div class="container-fluid">
            <div>
                <button class="btn btn-info" data-ng-click="vm.goBack()"><i class="fa fa-hand-o-left"></i>Back</button>
                <button class="btn btn-info" data-ng-click="vm.cancel()" data-ng-disabled="!vm.canSave"><i
                        class="fa fa-undo"></i>Cancel
                </button>
                <button class="btn btn-info" data-ng-click="vm.save()" data-ng-disabled="!vm.canSave"><i
                        class="fa fa-save"></i>Save
                </button>
                <div class="pull-right">
                    <button class="btn btn-danger" data-ng-click="vm.delete()" data-ng-disabled="!vm.canDelete"><i
                            class="fa fa-trash-o"></i>Delete
                    </button>
                </div>
            </div>
            <div class="widget wgreen">
                <div data-cc-widget-header title="{{vm.title}}"></div>
                <div class="widget-content user">
                    <data-ng-form name="practitionerEditForm" class="form-horizontal"
                                  data-ng-model="vm.practitioner">
                        <fieldset>
                            <div class="form-group col-md-12">

                                <div data-ng-include="'../../app/shared/humanName/humanName.html'"></div>

                                <div data-ng-include="'../../app/shared/attachment/attachment.html'"></div>

                                <div data-ng-include="'../../app/shared/address/addressTypeAhead.html'"></div>

                                <div data-ng-include="'../../app/shared/telecom/telecom.html'"></div>

                                <div class="form-group col-md-12">
                                    <legend>Organization Details</legend>
                                    <div class="controls col-md-10 col-md-offset-2">
                                        <div class="form-group col-md-10">
                                            <label for="practitioner-organization"
                                                   class="control-label">Organization</label>&nbsp;&nbsp;<input required
                                                                                                                type="text"
                                                                                                                id="practitioner-organization"
                                                                                                                class="form-control"
                                                                                                                placeholder="The organization that the practitioner represents"
                                                                                                                typeahead="item as item.display for item in vm.getOrganizationReference($viewValue) | filter:$viewValue"
                                                                                                                typeahead-loading="vm.loadingOrganizations"
                                                                                                                typeahead-wait-ms="300"
                                                                                                                typeahead-editable="false"
                                                                                                                typeahead-min-length="5"
                                                                                                                data-ng-model="vm.practitioner.organization">
                                        </div>

                                        <div class="form-group col-md-12">
                                            <div class="form-group col-md-6">
                                                <label for="practitioner-specialty"
                                                       class="control-label">Specialty</label>&nbsp;&nbsp;
                                                <select
                                                        class="form-control"
                                                        id="practitioner-specialty"
                                                        data-ng-model="vm.selectedSpecialty"
                                                        data-ng-change="vm.selectSpecialty()">
                                                    <option value=null>[Select a Specialty]</option>
                                                    <option data-ng-repeat="coding in vm.practitionerSpecialties"
                                                            value="{{coding}}">
                                                        {{coding.display}}
                                                    </option>

                                                </select>
                                            </div>
                                            <div collapse="vm.practitioner.specialty.length===0" class="col-md-6">
                                                <form>
                                                    <table class="table table-responsive">
                                                        <thead>
                                                        <tr>
                                                            <th colspan="2">Specialties</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr data-ng-repeat="item in vm.practitioner.specialty">
                                                            <td>{{item.display}}</td>
                                                            <td style="padding-top: 0px;text-align:right">
                                                                <img src="/content/images/x_red.gif"
                                                                     data-ng-click="vm.removeSpecialty(item)"
                                                                     tooltip="remove"/>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </form>
                                            </div>
                                        </div>


                                        <div class="form-group col-md-12">
                                            <div class="form-group col-md-6">
                                                <label for="practitioner-role"
                                                       class="control-label">Role</label>&nbsp;&nbsp;
                                                <select
                                                        class="form-control"
                                                        id="practitioner-role"
                                                        data-ng-model="vm.selectedRole"
                                                        data-ng-change="vm.selectRole()">
                                                    <option value=null>[Select a Role]</option>
                                                    <option data-ng-repeat="coding in vm.practitionerRoles"
                                                            value="{{coding}}">
                                                        {{coding.display}}
                                                    </option>

                                                </select>
                                            </div>
                                            <div collapse="vm.practitioner.role.length===0" class="col-md-6">
                                                <form>
                                                    <table class="table table-responsive">
                                                        <thead>
                                                        <tr>
                                                            <th colspan="2">Roles</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr data-ng-repeat="item in vm.practitioner.role">
                                                            <td>{{item.display}}</td>
                                                            <td style="padding-top: 0px;text-align:right">
                                                                <img src="/content/images/x_red.gif"
                                                                     data-ng-click="vm.removeRole(item)"
                                                                     tooltip="remove"/>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </form>
                                            </div>
                                        </div>

                                        <div collapse="vm.practitioner.role.length === 0"
                                             class="form-group col-md-10">
                                            <legend>Period</legend>
                                            <span class="help-block">The period during which the practitioner is authorized to perform in these role(s)</span>
                                            <div class="form-group col-md-12">
                                                <div class="col-md-6">
                                                    <label class="control-label" for="name-period-start">Start</label>&nbsp;&nbsp;
                                                    <input type="date"
                                                           id="name-period-start"
                                                           class="form-control"
                                                           tooltip="Start date of name"
                                                           data-ng-model="vm.practitioner.period.start">
                                                </div>
                                                <div class="col-md-6">
                                                    <label class="control-label" for="name-period-start">End</label>&nbsp;&nbsp;
                                                    <input type="date"
                                                           id="name-period-end"
                                                           class="form-control"
                                                           tooltip="Leave blank if current"
                                                           data-ng-model="vm.practitioner.period.end">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div data-ng-include="'../../app/shared/qualification/qualification.html'"></div>

                                <div data-ng-include="'../../app/shared/identifier/identifier.html'"></div>

                            </div>
                        </fieldset>
                    </data-ng-form>
                </div>
            </div>
        </div>
    </section>
</section>