<section class="mainbar" data-ng-controller="valuesets as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <input class="form-control search-query"
                           data-ng-model="vm.valuesetsSearch"
                           data-ng-keyup="vm.search($event)"
                           placeholder="Filter local results by name ..."
                            />

                    <div class="btn-group pull-right">
                        <div class="btn-group">
                            <a class="btn btn-info"
                               data-ng-click="vm.refresh()"><i
                                    class="fa fa-refresh"></i><span>Refresh</span></a>
                            <a class="btn btn-info" href="/valueset/new"><i
                                    class="fa fa-plus"></i><span>Add Custom ValueSet</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="widget wred" data-ng-show="vm.valuesetsCount > 0">
                    <div data-cc-widget-header title="{{vm.title}}"
                         subtitle="{{vm.valuesetsFilteredCount}} / {{vm.valuesetsCount}}"
                         right-text="Page {{vm.paging.currentPage}} of {{vm.paging.pageCount}}"></div>
                    <div class="widget-content col-sm-12">
                        <ul class="list-group">
                            <div class="col-sm-6"
                                 data-ng-repeat="v in vm.valuesets"
                                 data-ng-click="vm.goToValueset(v)">
                                <fs-search-item name="{{v.content.name}}"
                                                summary="{{v.content.description | truncate:75}}"
                                                resourceid="{{v.content.id }}"
                                                edit="edit(v.$$hashKey)"></fs-search-item>
                            </div>
                        </ul>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                        <div data-ng-show="vm.valuesetsFilteredCount > vm.paging.pageSize">
                            <pagination boundary-links="true"
                                        ng-change="vm.pageChanged()"
                                        total-items="vm.valuesetsFilteredCount"
                                        items-per-page="vm.paging.pageSize"
                                        ng-model="vm.paging.currentPage"
                                        max-size="vm.paging.maxPagesToShow"
                                        class="pagination-small"
                                        previous-text="Prev"
                                        next-text="Next"
                                        first-text="First"
                                        last-text="Last"></pagination>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div data-ng-show="vm.isBusy" class="page-splash dissolve-animation">
            <div class="page-splash-message page-splash-message-subtle">{{vm.busyMessage}}&nbsp;&nbsp;<i
                    class="fa fa-cog fa-spin"></i></div>
        </div>
    </section>
</section>