<section class="mainbar" data-ng-controller="valuesetDetail as vm">
    <section class="matter">
        <div class="container-fluid">
            <div>
                <button class="btn btn-info" data-ng-click="vm.goBack()"><i class="fa fa-hand-o-left"></i>Back</button>
            </div>

            <div class="widget wblue">
                <div data-cc-widget-header title="{{vm.valueset.content.name}}"></div>
                <accordion close-others="true">
                    <accordion-group heading="Summary" is-open="vm.status.isFirstOpen"
                                     is-disabled="vm.status.isFirstDisabled">
                        <div>
                            <div class="col-md-8" data-ng-bind-html="vm.valueset.content.text.div">
                            </div>
                        </div>
                    </accordion-group>
                    <accordion-group heading="Details">
                        <table class="table table-striped table-hover">
                            <tr>
                                <td>Name</td>
                                <td>{{vm.valueset.content.name}}</td>
                            </tr>
                            <tr>
                                <td>Publisher</td>
                                <td>{{vm.valueset.content.publisher}}</td>
                            </tr>
                            <tr>
                                <td>Version</td>
                                <td>{{vm.valueset.content.version}}</td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td>{{vm.valueset.content.description}}</td>
                            </tr>
                            <tr>
                                <td>Identifier</td>
                                <td>{{vm.valueset.content.identifier}}</td>
                            </tr>
                            <tr>
                                <td>Experimental</td>
                                <td>{{vm.valueset.content.experimental}}</td>
                            </tr>
                            <tr>
                                <td>Published</td>
                                <td>{{vm.valueset.content.published}}</td>
                            </tr>
                            <tr>
                                <td>Extensible</td>
                                <td>{{vm.valueset.content.extensible}}</td>
                            </tr>
                            <tr>
                                <td>Date</td>
                                <td>{{vm.valueset.content.date}}</td>
                            </tr>
                            <tr>
                                <td>Copyright</td>
                                <td>{{vm.valueset.content.copyright}}</td>
                            </tr>
                        </table>
                    </accordion-group>
                    <accordion-group heading="Concepts" data-ng-show="vm.valueset.content.define">
                        <table class="table table-striped table-hover">
                            <tr>
                                <td>System</td>
                                <td>{{vm.valueset.content.define.system}}</td>
                            </tr>
                            <tr>
                                <td>Version</td>
                                <td>{{vm.valueset.content.define.version}}</td>
                            </tr>
                            <tr>
                                <td>Case Sensitive</td>
                                <td>{{vm.valueset.content.define.caseSensitive}}</td>
                            </tr>
                        </table>
                        <table class="table table-striped table-hover">
                            <thead>
                            <th>Code</th>
                            <th>Abstract</th>
                            <th>Display</th>
                            <th>Definition</th>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="c in vm.valueset.content.define.concept">
                                <td>{{c.code}}</td>
                                <td>{{c.abstract}}</td>
                                <td>{{c.display}}</td>
                                <td>{{c.definition}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </accordion-group>
                    <accordion-group heading="External Concepts" data-ng-show="vm.valueset.content.compose">
                        <h5>{{vm.valueset.content.compose.import}}</h5>
                        <table class="table table-striped table-hover">
                            <thead>
                            <th>System</th>
                            <th>Version</th>
                            <th>Codes</th>
                            <th>Filters</th>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="i in vm.valueset.content.compose.include">
                                <td>{{i.system}}</td>
                                <td>{{i.version}}</td>
                                <td>
                                    <div data-ng-repeat="c in i.code">
                                        <p class="small">{{c}}</p>
                                    </div>
                                </td>
                                <td>
                                    <div data-ng-repeat="f in i.filter">
                                        <p class="small">{{c.property}}</p>

                                        <p class="small">{{c.op}}</p>

                                        <p class="small">{{c.value}}</p>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </accordion-group>
                    <accordion-group heading="Expansions" data-ng-show="vm.valueset.content.expansion">
                        <table class="table table-striped table-hover">
                            <tr>
                                <td>Identifier</td>
                                <td>{{vm.valueset.content.expansion.identifier}}</td>
                            </tr>
                            <tr>
                                <td>Timestamp</td>
                                <td>{{vm.valueset.content.expansion.timestamp}}</td>
                            </tr>
                        </table>
                        <table class="table table-striped table-hover">
                            <thead>
                            <th>System</th>
                            <th>Code</th>
                            <th>Display</th>
                            <th>Contents</th>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="c in vm.valueset.content.expansion.contains">
                                <td>{{c.system}}</td>
                                <td>{{c.code}}</td>
                                <td>{{c.display}}</td>
                                <td>{{c.contains}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </section>
</section>