<section class="mainbar" data-ng-controller="organizationDetail as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="btn-group col-md-12">
                    <button class="btn btn-info" data-ng-click="vm.goBack()"><i class="fa fa-hand-o-left"></i>Back
                    </button>
                    <div class="btn-group pull-right">
                        <button class="btn btn-danger" data-ng-click="vm.delete(vm.organization)"><i
                                class="fa fa-minus-circle"></i>Delete
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="widget worange">
                    <div data-cc-widget-header title="{{vm.title}}"></div>
                    <div class="widget-content user">
                        <data-ng-form name="organizationEditForm" class="form-horizontal" ng-model="vm.organization">
                            <fieldset>
                                <div class="form-group col-md-12">
                                    <div class="col-md-2 control-label">Name</div>

                                    <div class="controls col-md-10 col-md-offset-2">
                                        <input required type="text" id="organization-name" class="form-control"
                                               placeholder="The name associated with the organization"
                                               data-ng-model="vm.organization.name">
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-2 control-label">Type</div>
                                    <div class="controls col-md-10 col-md-offset-2">
                                        <select class="form-control pull-left" id="organization-type"
                                                data-ng-model="vm.organization.type.coding[0]">
                                            <option data-ng-repeat="coding in vm.organizationTypes" value="{{coding}}"
                                                    data-ng-selected="coding.code===vm.organization.type.coding[0].code">
                                                {{coding.display}}
                                            </option>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-12">
                                    <div class="col-md-2 control-label">Address</div>
                                    <div class="controls col-md-10 col-md-offset-2">
                                        <textarea required id="address-street" class="form-control" rows="2"
                                                  placeholder="Street"
                                                  data-ng-model="vm.organization.address[0].line"></textarea>
                                        <input required type="text" id="address-city" class="form-control"
                                               placeholder="City"
                                               data-ng-model="m.organization.address[0].city">
                                        <input required type="text" data-ng-model="vm.organization.address[0].state"
                                               typeahead="state for state in vm.states | filter:$viewValue | limitTo:3"
                                               class="form-control" placeholder="State or Province" id="address-state">
                                        <input required type="text" id="address-zip" class="form-control"
                                               data-ng-pattern="/^\d{5}([\-]?\d{4})$/" placeholder="Postal Code"
                                               data-ng-model="vm.organization.address[0].address.zip">
                                        <input required type="text" id="address-country" class="form-control"
                                               placeholder="Country"
                                               data-ng-model="vm.organization.address[0].address.country">
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <div class="col-md-2 control-label">Communication</div>
                                    <div class="controls col-md-10 col-md-offset-2">
                                        <div class="form-group">
                                            <label class="control-label">
                                                <span class="fa fa-phone-square"></span></label>&nbsp;&nbsp;<input
                                                class="form-control"
                                                placeholder="primary telephone number of organization"
                                                data-ng-model="m.organization.phone">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">
                                                <span class="fa fa-fax"></span></label>&nbsp;&nbsp;<input
                                                class="form-control"
                                                placeholder="primary fax number for organization"
                                                data-ng-model="m.organization.fax">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">
                                                <span class="fa fa-envelope"></span></label>&nbsp;&nbsp;<input
                                                class="form-control"
                                                placeholder="primary email address for organization"
                                                data-ng-model="m.organization.email">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">
                                                <span class="fa fa-chain"></span></label>&nbsp;&nbsp;<input
                                                class="form-control"
                                                placeholder="website address for organization"
                                                data-ng-model="m.organization.url">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <div class="col-md-2 control-label">Contact</div>
                                    <div class="controls col-md-10 col-md-offset-2">
                                        <div class="form-group">
                                            <label class="control-label">Name</label>&nbsp;&nbsp;<input
                                                class="form-control"
                                                placeholder="Full Name"
                                                data-ng-model="m.organization.contact.fullname">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Type</label>&nbsp;&nbsp;<select
                                                class="form-control" id="contact-type"
                                                data-ng-model="vm.organization.contact[0].type">
                                            <option data-ng-repeat="coding in vm.contactTypes" value="{{coding}}"
                                                    data-ng-selected="coding.code===vm.organization.contact[0].type.coding[0].code">
                                                {{coding.display}}
                                            </option>
                                            <option value=""></option>
                                        </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">
                                                <span class="fa fa-phone-square"></span></label>&nbsp;&nbsp;<input
                                                class="form-control"
                                                placeholder="Telephone"
                                                data-ng-model="m.organization.contact.phone">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">
                                                <span class="fa fa-mobile"></span></label>&nbsp;&nbsp;<input
                                                class="form-control"
                                                placeholder="Mobile"
                                                data-ng-model="m.organization.contact.mobile">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">
                                                <span class="fa fa-envelope"></span></label>&nbsp;&nbsp;<input
                                                class="form-control"
                                                placeholder="Email"
                                                data-ng-model="m.organization.contact.email">
                                        </div>

                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <div class="col-md-2 control-label">Affiliated Organization</div>
                                    <div class="controls col-md-10 col-md-offset-2">
                                        <select class="form-control pull-left" id="organization-affiliated"
                                                data-ng-model="vm.organization.partOf">
                                            <option data-ng-repeat="org in vm.organizations" value="{{display}}"
                                                    data-ng-selected="org.id===vm.organization.partOf.reference">
                                                {{coding.display}}
                                            </option>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <div class="col-md-2 control-label">Locations</div>
                                    <div class="controls col-md-10 col-md-offset-2">

                                    </div>
                                </div>

                                <div class="form-group col-md-12">
                                    <div class="col-md-2 control-label">Identifiers</div>
                                    <div class="controls col-md-10 col-md-offset-2">

                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-2">
                                        <button class="btn btn-default" data-ng-click="vm.reset()">Cancel</button>
                                        <button type="submit" class="btn btn-info" data-ng-click="vm.save()">Submit
                                        </button>
                                    </div>
                                </div>
                            </fieldset>
                        </data-ng-form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>