<div data-ng-controller="telecom as vm">
    <div class="form-group col-md-12">
        <legend>Telecommunication</legend>
        <div class="controls col-md-12 col-md-offset-2">
            <data-ng-form name="telecomEditForm" class="form-horizontal" data-ng-model="vm.telecom">
                <div class="btn-group col-md-10" style="padding-bottom: 20px">
                    <label class="btn btn-default btn-sm" data-ng-model="vm.telecom.use" btn-radio="'work'">
                        <i class="fa fa-building"></i>&nbsp;Work</label>
                    <label data-ng-show="vm.showHome" class="btn btn-default btn-sm" data-ng-model="vm.telecom.use"
                           btn-radio="'home'">
                        <i class="fa fa-home"></i>&nbsp;Home</label>
                    <label data-ng-show="vm.showMobile" class="btn btn-default btn-sm" data-ng-model="vm.telecom.use"
                           btn-radio="'mobile'">
                        <i class="fa fa-car"></i>&nbsp;Mobile</label>
                    <label class="btn btn-default btn-sm" data-ng-model="vm.telecom.use" btn-radio="'temp'">
                        <i class="fa fa-recycle"></i>&nbsp;Temp</label>
                    <label class="btn btn-default btn-sm" data-ng-model="vm.telecom.use" btn-radio="'old'">
                        <i class="fa fa-history"></i>&nbsp;Former</label>
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label">
                        <span class="fa fa-envelope"></span></label>&nbsp;&nbsp;<input type="email"
                                                                                       class="form-control"
                                                                                       placeholder="Email"
                                                                                       data-ng-model="vm.telecom.email"/>
                </div>

                <div class="form-group col-md-5">
                    <label class="control-label">
                        <span class="fa fa-phone"></span></label>&nbsp;&nbsp;<input type="tel"
                                                                                    class="form-control"
                                                                                    placeholder="Telephone"
                                                                                    data-ng-model="vm.telecom.phone"/>
                </div>
                <div class="form-group col-md-6">
                    <label class="control-label">
                        <span class="fa fa-chain"></span></label>&nbsp;&nbsp;<input type="url"
                                                                                    class="form-control"
                                                                                    placeholder="Web Url"
                                                                                    data-ng-model="vm.telecom.url"/>
                </div>
                <div class="form-group col-md-5">
                    <label class="control-label">
                        <span class="fa fa-fax"></span></label>&nbsp;&nbsp;<input type="tel"
                                                                                  class="form-control"
                                                                                  placeholder="Fax"
                                                                                  data-ng-model="vm.telecom.fax"/>
                </div>

                <div collapse="vm.telecom.use !== 'old'" class="form-group col-md-10">
                    <form>
                        <legend>Period</legend>
                        <span class="help-block">Period during which the telecommunication is valid.</span>

                        <div class="form-group col-md-12">
                            <div class="col-md-6">
                                <label class="control-label" for="telecom-period-start">Start</label>&nbsp;&nbsp;
                                <input type="date"
                                       id="telecom-period-start"
                                       class="form-control"
                                       tooltip="Start date of telecom item"
                                       data-ng-model="vm.telecom.period.start">
                            </div>
                            <div class="col-md-6">
                                <label class="control-label" for="telecom-period-start">End</label>&nbsp;&nbsp;
                                <input type="date"
                                       id="telecom-period-end"
                                       class="form-control"
                                       tooltip="End date - leave blank if current"
                                       data-ng-model="vm.telecom.period.end">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="btn-group col-md-10">
                    <button type="submit" data-ng-disabled="telecomEditForm.$invalid"
                            class="btn btn-info"
                            data-ng-click="vm.addToList(telecomEditForm, vm.telecom)"><i
                            class="fa fa-plus-square-o"></i>Save to List
                    </button>
                    <button type="button" class="btn btn-info pull-right" data-ng-click="vm.reset(telecomEditForm)"><i
                            class="fa fa-refresh"></i>
                        Reset
                    </button>
                </div>
            </data-ng-form>

            <div collapse="vm.telecoms.length === 0" class="form-group col-md-12">
                <form>
                    <legend>Telecommunications List</legend>
                    <table class="table table-responsive">
                        <thead>
                        <tr>
                        <th></th>
                        <th>Phone</th>
                        <th>Fax</th>
                        <th>Email</th>
                        <th>Web</th>
                        <th>Period</th>
                        <th>Use</th>
                        <th></th>
                        </thead>
                        </tr>
                        <tbody>
                        <tr data-ng-repeat="t in vm.telecoms" data-ng-click="vm.editListItem(t)">
                            <td>
                                <button type="button" class="btn btn-info btn-xs" data-ng-click="vm.editListItem(t)">
                                    Edit
                                </button>
                            </td>
                            <td>{{t.phone}}</td>
                            <td>{{t.fax}}</td>
                            <td>{{t.email}}</td>
                            <td>{{t.url}}</td>
                            <td>{{t.period | periodText }}</td>
                            <td>{{t.use}}</td>
                            <td style="padding-top: 0px">
                                <img
                                        src="/content/images/x_red.gif"
                                        data-ng-click="vm.removeListItem(t)"
                                        tooltip="remove"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>

