<div data-ng-controller="telecom as vm">
    <div class="form-group col-md-12 well">
        <div class="col-md-2 control-label">Communication</div>
        <div class="controls col-md-10 col-md-offset-2">
            <data-ng-form name="telecomEditForm" class="form-horizontal" data-ng-model="vm.telecom">
                <div class="btn-group col-md-10" style="padding-bottom: 20px">
                    <label class="btn btn-default btn-sm" data-ng-model="vm.telecom.use" btn-radio="'work'">
                        <i class="fa fa-building"></i>&nbsp;Work</label>
                    <label data-ng-show="vm.showHome" class="btn btn-default btn-sm" data-ng-model="vm.telecom.use" btn-radio="'home'">
                        <i class="fa fa-home"></i>&nbsp;Home</label>
                    <label data-ng-show="vm.showMobile" class="btn btn-default btn-sm" data-ng-model="vm.telecom.use" btn-radio="'fax'">
                        <i class="fa fa-fax"></i>&nbsp;MobileHome</label>
                    <label class="btn btn-default btn-sm" data-ng-model="vm.telecom.use" btn-radio="'temp'">
                        <i class="fa fa-eraser"></i>&nbsp;Temp</label>
                    <label class="btn btn-default btn-sm" data-ng-model="vm.telecom.use" btn-radio="'old'">
                        <i class="fa fa-code-fork"></i>&nbsp;Old</label>
                </div>

                <div class="form-group col-md-5">
                    <label class="control-label">
                        <span class="fa fa-phone"></span></label>&nbsp;&nbsp;<input required class="form-control"
                                                                                    placeholder="Telephone"
                                                                                    data-ng-model="vm.telecom.phone"/>
                </div>

                <div class="form-group col-md-5">
                    <label class="control-label">
                        <span class="fa fa-mobile-phone"></span></label>&nbsp;&nbsp;<input class="form-control"
                                                                                           placeholder="Fax"
                                                                                           data-ng-model="vm.telecom.fax"/>
                </div>

                <div class="form-group col-md-5">
                    <label class="control-label">
                        <span class="fa fa-envelope"></span></label>&nbsp;&nbsp;<input class="form-control"
                                                                                       placeholder="Email"
                                                                                       data-ng-model="vm.telecom.email"/>
                </div>

                <div class="form-group col-md-5">
                    <label class="control-label">
                        <span class="fa fa-chain"></span></label>&nbsp;&nbsp;<input class="form-control"
                                                                                    placeholder="Web Url"
                                                                                    data-ng-model="vm.telecom.url"/>
                </div>

                <div class="btn-group col-md-7">
                    <button type="button" class="btn btn-info" data-ng-click="vm.reset(telecomEditForm)"><i
                            class="fa fa-refresh"></i>
                        Reset
                    </button>
                    <button type="submit" data-ng-disabled="telecomEditForm.$invalid"
                            class="btn btn-info"
                            data-ng-click="vm.addToList(telecomEditForm, vm.telecom)"><i
                            class="fa fa-plus-square-o"></i>Add to Telecom List
                    </button>
                </div>
            </data-ng-form>

            <div collapse="vm.telecoms.length === 0" class="col-md-10">
                <hr/>
                <table class="table-hover small table-responsive pull-left">
                    <thead>
                    <th></th>
                    <th style="width: 100px">Phone</th>
                    <th style="width: 100px">Mobile</th>
                    <th style="width: 100px">Email</th>
                    <th style="width: 100px">Web</th>
                    <th>Use</th>
                    <th></th>
                    </thead>
                    <tr data-ng-repeat="t in vm.telecoms" data-ng-click="vm.editListItem(t)">
                        <td>
                            <button type="button" class="btn btn-info btn-xs" data-ng-click="vm.editListItem(t)">
                                Edit
                            </button>
                        </td>
                        <td>{{t.phone}}</td>
                        <td>{{t.mobile}}</td>
                        <td>{{t.email}}</td>
                        <td>{{t.url}}</td>
                        <td>{{t.use}}</td>
                        <th>
                            <button type="button" class="btn btn-default btn-xs"
                                    data-ng-click="vm.removeListItem(t)" tooltip="delete">X
                            </button>
                        </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>

