<div data-ng-controller="attachment as vm">
    <div class="form-group col-md-12">
        <legend>{{vm.title}}</legend>
        <div class="controls col-md-10 col-md-offset-2">
            <data-ng-form name="attachmentEditForm" class="form-horizontal" data-ng-model="vm.attachment">
                <div class="form-group col-md-7">
                    <label class="control-label pull-left">Add {{vm.title}}&nbsp;&nbsp;</label>
                    <div class="form-control" fs-file-input="vm.selectedFile" on-change="vm.readFile()">
                    </div>
                </div>
            </data-ng-form>
        </div>
        <div collapse="vm.attachments.length < 1" class="col-md-10">
            <div class="btn-group" data-ng-repeat="photo in vm.attachments">
                <img class="img-polaroid" fs-img-person="photo"/>
                <img class="pull-right"
                     src="/content/images/x_red.gif"
                     data-ng-click="vm.removeListItem(photo)"
                     tooltip="remove"/>
            </div>
        </div>
    </div>
</div>
