<div data-ng-controller="contact as vm">
    <div class="form-group col-md-12">
        <legend>Contact</legend>
        <div class="controls col-md-12 col-md-offset-2">
            <data-ng-form name="contactEditForm" class="form-horizontal" data-ng-model="vm.contact">
                <div class="form-group col-md-5">
                    <label class="control-label">Name</label>&nbsp;&nbsp;<input
                        required
                        class="form-control"
                        placeholder="Full Name"
                        data-ng-model="vm.contact.name"/>
                </div>

                <div class="form-group col-md-7">
                    <label class="control-label">
                        <span class="fa fa-envelope"></span></label>&nbsp;&nbsp;<input
                        type="email"
                        class="form-control"
                        placeholder="Email"
                        data-ng-model="vm.contact.email"/>
                </div>

                <div class="form-group col-md-5">
                    <label class="control-label">
                        <span class="fa fa-phone-square"></span></label>&nbsp;&nbsp;<input
                        type="tel"
                        class="form-control"
                        placeholder="Telephone"
                        data-ng-model="vm.contact.phone"/>
                </div>

                <div class="form-group col-md-5">
                    <label class="control-label">Purpose</label>&nbsp;&nbsp;<select
                        class="form-control" id="contact-purpose"
                        data-ng-model="vm.contact.purpose">
                    <option data-ng-repeat="coding in vm.contactTypes" value="{{coding.display}}"
                            data-ng-selected="coding.code===vm.contact.purpose">
                        {{coding.display}}
                    </option>
                    <option value=""></option>
                </select>
                </div>

                <div class="btn-group col-md-10">
                    <button type="submit" data-ng-disabled="contactEditForm.$invalid"
                            class="btn btn-info"
                            data-ng-click="vm.addToList(contactEditForm, vm.contact)"><i
                            class="fa fa-plus-square-o"></i>Save to List
                    </button>
                    <button type="button" class="btn btn-info pull-right" data-ng-click="vm.reset(contactEditForm)"><i
                            class="fa fa-refresh"></i>
                        Reset
                    </button>
                </div>
            </data-ng-form>

            <div collapse="vm.contacts.length < 1" class="form-group col-md-12">
                <form>
                    <legend>Contact List</legend>
                    <table class="table table-responsive">
                        <thead>
                        <tr>
                            <th></th>

                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                            <th>Purpose</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr data-ng-repeat="c in vm.contacts">
                            <td>
                                <button type="button" class="btn btn-info btn-xs" data-ng-click="vm.editListItem(c)">
                                    Edit
                                </button>
                            </td>
                            <td>{{c.name}}</td>
                            <td>{{c.phone}}</td>
                            <td>{{c.email}}</td>
                            <td>{{c.purpose}}</td>
                            <td style="padding-top: 0px">
                                <img
                                        src="/content/images/x_red.gif"
                                        data-ng-click="vm.removeListItem(c)"
                                        tooltip="remove"/>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>