<div data-ng-controller="demographics as vm">
    <div class="form-group col-md-12 well">
        <div class="col-md-2 control-label">Demographics</div>
        <div class="controls col-md-12 col-md-offset-2">
            <data-ng-form name="demographicsEditForm" class="form-horizontal" data-ng-model="vm.demographics">
                <div class="form-group col-md-6">
                    <label class="control-label" for="demographics-dob">Date of Birth&nbsp;&nbsp;</label>
                    <input type="date"
                           id="demographics-dob"
                           class="form-control"
                           data-ng-model="vm.demographics.birthDate"
                           data-ng-change="vm.updateBirthDate()">
                </div>

                <div class="form-group col-md-6">
                    <label class="control-label" for="demographics-multipleBirth">Multiple&nbsp;Birth&nbsp;</label>
                    <input id="demographics-multipleBirth"
                           class="checkbox-inline"
                           type="checkbox"
                           data-ng-model="vm.demographics.multipleBirth"
                           data-ng-change="vm.updateMultipleBirth()">
                </div>

                <div class="col-md-10">
                    <div class="form-group col-md-6">
                        <label class="control-label" for="demographics-gender">Gender</label>&nbsp;&nbsp;
                        <select class="form-control" id="demographics-gender"
                                data-ng-model="vm.demographics.gender"
                                data-ng-change="vm.updateGender()">
                            <option data-ng-repeat="coding in vm.genders" value="{{coding.display}}"
                                    data-ng-selected="coding.code===vm.demographics.gender.coding[0].code">
                                {{coding.display}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="control-label" for="demographics-maritalStatus">Marital
                            Status</label>&nbsp;&nbsp;
                        <select
                                class="form-control" id="demographics-maritalStatus"
                                data-ng-model="vm.demographics.maritalStatus"
                                data-ng-change="vm.updateMaritalStatus()">
                            <option data-ng-repeat="coding in vm.maritalStatuses" value="{{coding.display}}"
                                    data-ng-selected="coding.code===vm.demographics.maritalStatus.coding[0].code">
                                {{coding.display}}
                            </option>
                        </select>
                    </div>
                </div>
            </data-ng-form>
        </div>
    </div>
</div>