<div data-ng-controller="address as vm">
    <div class="form-group col-md-12 well">
        <div class="col-md-2 control-label">Address</div>
        <div class="controls col-md-10 col-md-offset-2">
            <data-ng-form name="addressEditForm" class="form-horizontal" data-ng-model="vm.address">
                <div class="btn-group col-md-7" style="padding-bottom: 20px">
                    <label class="btn btn-default btn-sm" data-ng-model="vm.address.use" btn-radio="'work'"><i
                            class="fa fa-building"></i>&nbsp;Work</label>
                    <label data-ng-show="vm.showHome" class="btn btn-default btn-sm" data-ng-model="vm.address.use" btn-radio="'home'"><i
                            class="fa fa-home"></i>&nbsp;Home</label>
                    <label class="btn btn-default btn-sm" data-ng-model="vm.address.use" btn-radio="'temp'"><i
                            class="fa fa-eraser"></i>&nbsp;Temp</label>
                    <label class="btn btn-default btn-sm" data-ng-model="vm.address.use" btn-radio="'old'"><i
                            class="fa fa-code-fork"></i>&nbsp;Old</label>
                </div>

                <div class="form-group col-md-10">
                    <label class="control-label">Address&nbsp;&nbsp;</label><input required
                                                                                   type="text"
                                                                                   id="address"
                                                                                   class="form-control"
                                                                                   placeholder="Start typing and address will auto-complete"
                                                                                   typeahead="address for address in vm.getLocation($viewValue)"
                                                                                   typeahead-loading="vm.loadingLocations"
                                                                                   typeahead-wait-ms="300"
                                                                                   typeahead-editable="false"
                                                                                   typeahead-min-length="5"
                                                                                   data-ng-model="vm.address.text"
                                                                                   data-ng-keyup="vm.capture($event, addressEditForm, vm.address)">
                </div>

                <div class="btn-group col-md-12">
                    <button type="submit" data-ng-disabled="addressEditForm.$invalid"
                            class="btn btn-info"
                            data-ng-click="vm.addToList(addressEditForm, vm.address)"><i
                            class="fa fa-plus-square-o"></i>Save to List
                    </button>
                    <button type="button" class="btn btn-info pull-right" data-ng-click="vm.reset(addressEditForm)"><i
                            class="fa fa-refresh"></i>
                        Reset
                    </button>
                </div>
            </data-ng-form>

            <div collapse="vm.addresses.length === 0" class="col-md-10">
                <hr/>
                <table class="table small table-responsive pull-left">
                    <thead>
                    <th></th>
                    <th>Address</th>
                    <th>Use</th>
                    </thead>
                    <tr data-ng-repeat="a in vm.addresses">
                        <td>
                            <button type="button" class="btn btn-info btn-xs" data-ng-click="vm.editListItem(a)">
                                Edit
                            </button>
                        </td>
                        <td>{{a.text}}</td>
                        <td>{{a.use}}</td>
                        <td>
                            <button type="button" class="btn btn-default btn-xs"
                                    data-ng-click="vm.removeListItem(a)" tooltip="delete">X
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>