<section class="mainbar" data-ng-controller="persons as vm">
    <section class="matter">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="col-md-12">

                    <input class="form-control search-query"
                           data-ng-model="vm.searchText"
                           data-ng-keyup="vm.search($event)"
                           placeholder="Find person by name ..."
                            />

                    <div class="btn-group pull-right">
                        <a class="btn btn-info"
                           data-ng-click="vm.search($event)"><i class="fa fa-search"></i><span>Search</span></a>
                        <a class="btn btn-info" href="/person/new"><i
                                class="fa fa-plus"></i><span>Add Related Person</span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" data-ng-hide="vm.persons">
                <p>
                    <small>
                        Related Persons typically have a personal or non-healthcare-specific professional relationship to
                        the patient. A Related Person resource is primarily used for attribution of information, since
                        RelatedPersons are often a source of information about the patient. For keeping information
                        about persons for contact purposes for a patient, use a Patient Contact element instead.
                    </small>
                </p>
            </div>
            <div class="row-fluid">
                <div class="widget wviolet" data-ng-show="vm.persons">
                    <div data-cc-widget-header title="{{vm.title}}"
                         subtitle="{{vm.paging.totalResults}} total results"
                         right-text="Page {{vm.paging.currentPage}} of {{vm.paging.pageCount}}"></div>
                    <div class="widget-content user">
                        <div class="padd list-flow"
                             data-ng-repeat="p in vm.persons"
                             data-ng-click="vm.goToPerson(p)">
                            <div class="user" title="Go to person details">
                                <img fs-img-person="p.content.photo[0]"
                                     class="img-polaroid stacked" src="/content/images/unknown_person.jpg"/>

                                <div class="name-stack">
                                    <h5>{{p.content.name | fullName}}</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="widget-foot">
                        <div class="clearfix"></div>
                        <div data-ng-show="vm.paging.totalResults > vm.paging.pageSize">
                            <pagination boundary-links="false"
                                        ng-change="vm.pageChanged()"
                                        total-items="vm.paging.totalResults"
                                        items-per-page="vm.paging.pageSize"
                                        ng-model="vm.paging.currentPage"
                                        max-size="vm.paging.maxPagesToShow"
                                        class="pagination-small"
                                        previous-text="Prev"
                                        next-text="Next"
                                        first-text="First"
                                        last-text="Last"></pagination>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div data-ng-show="vm.isBusy" class="page-splash dissolve-animation">
            <div class="page-splash-message page-splash-message-subtle">{{vm.busyMessage}}&nbsp;&nbsp;<i
                    class="fa fa-cog fa-spin"></i></div>
        </div>
    </section>
</section>