<section class="mainbar" data-ng-controller="profileQuestionnaire as vm">
    <section class="matter">
        <div class="container-fluid">
            <div>
                <button class="btn btn-info" data-ng-click="vm.goBack()"><i class="fa fa-hand-o-left"></i>Back</button>
                <button class="btn btn-info" data-ng-click="vm.cancel()" data-ng-disabled="!vm.canSave"><i
                        class="fa fa-undo"></i>Cancel
                </button>
                <button class="btn btn-info" data-ng-click="vm.save()" data-ng-disabled="!vm.canSave"><i
                        class="fa fa-save"></i>Save
                </button>
                <div class="pull-right">
                    <button class="btn btn-info" data-ng-click="vm.delete()" data-ng-disabled="!vm.canDelete"><i
                            class="fa fa-minus"></i>Delete
                    </button>
                </div>
            </div>
            <div class="widget worange">
                <div data-cc-widget-header title="{{vm.questionnaire.title}}"></div>
                <accordion close-others="true">
                    <accordion-group heading="Metadata" is-open="vm.status.isFirstOpen"
                                     is-disabled="vm.status.isFirstDisabled">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>Status</td>
                                <td>{{vm.questionnaire.status}}</td>
                            </tr>
                            <tr>
                                <td>Publisher</td>
                                <td>{{vm.questionnaire.publisher}}</td>
                            </tr>
                            <tr>
                                <td>Date</td>
                                <td>{{vm.questionnaire.date | date: mediumDate }}</td>
                            </tr>
                            <tr>
                                <td>Identifier</td>
                                <td>
                                    <div data-ng-repeat="id in vm.questionnaire.identifier">
                                        {{id.system}}::{{id.value}}<br/>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </accordion-group>
                    <accordion-group heading="{{vm.questionnaire.group.linkId}} Form Data">
                        <h3>{{vm.questionnaire.group.title}}</h3>

                        <p>{{vm.questionnaire.group.text}}</p>
                        <h5>Groups</h5>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Link ID</th>
                                <th>Text</th>
                                <th>Required</th>
                                <th>Repeat</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr data-ng-repeat="group in vm.questionnaire.group.group">
                                <td>{{group.linkId}}</td>
                                <td>{{group.text}}</td>
                                <td>{{group.required}}</td>
                                <td>{{group.repeats}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </accordion-group>

                </accordion>
            </div>
        </div>
    </section>
</section>