<section class="mainbar" data-ng-controller="profileDetail as vm">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="btn-group col-md-12">
                    <button class="btn btn-info" data-ng-click="vm.goBack()"><i class="fa fa-hand-o-left"></i>Back
                    </button>
                    <button class="btn btn-info" data-ng-click="vm.makeQuestionnaire(vm.profile)"><i class="fa fa-clipboard"></i>Questionnaire
                    </button>
                    <div class="btn-group pull-right">
                        <button disabled class="btn btn-danger" data-ng-click="vm.delete(vm.profile)"><i
                                class="fa fa-trash-o"></i>Delete
                        </button>
                    </div>
                </div>
            </div>
            <div class="widget worange">
                <div data-cc-widget-header title="{{vm.profile.content.name}}"></div>
                <accordion close-others="true">
                    <accordion-group heading="Summary" is-open="vm.status.isFirstOpen"
                                     is-disabled="vm.status.isFirstDisabled">
                        <div>
                            <div class="col-md-8" data-ng-bind-html="vm.profile.content.text.div">
                            </div>
                        </div>
                    </accordion-group>
                    <accordion-group heading="Metadata">
                        <table class="table table-striped table-hover">
                            <tr>
                                <td>Identifier</td>
                                <td>{{vm.profile.content.identifier}}</td>
                            </tr>
                            <tr>
                                <td>Version</td>
                                <td>{{vm.profile.content.version}}</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>{{vm.profile.content.name}}</td>
                            </tr>
                            <tr>
                                <td>Publisher</td>
                                <td>{{vm.profile.content.publisher}}</td>
                            </tr>
                            <tr>
                                <td>Contact</td>
                                <td>{{vm.profile.content.telecom}}</td>
                            </tr>
                            <tr>
                                <td>Description</td>
                                <td>{{vm.profile.content.description}}</td>
                            </tr>
                            <tr>
                                <td>Requirements</td>
                                <td>{{vm.profile.content.requirements}}</td>
                            </tr>
                            <tr>
                                <td>Code</td>
                                <td>{{vm.profile.content.code}}</td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td>{{vm.profile.content.status}}</td>
                            </tr>
                            <tr>
                                <td>Experimental</td>
                                <td>{{vm.profile.content.experimental}}</td>
                            </tr>
                            <tr>
                                <td>Date of Publication</td>
                                <td>{{vm.profile.content.date}}</td>
                            </tr>
                            <tr>
                                <td>FHIR Version</td>
                                <td>{{vm.profile.content.fhirVersion}}</td>
                            </tr>
                        </table>
                    </accordion-group>
                    <accordion-group heading="Mapping" data-ng-show="vm.profile.content.mapping">
                        <table class="table table-striped table-hover">
                            <thead>
                            <th>Identity</th>
                            <th>URI</th>
                            <th>Name</th>
                            </thead>
                            <tbody>
                            <tr data-ng-repeat="m in vm.profile.content.mapping">
                                <td>{{m.identity}}</td>
                                <td>{{m.uri}}</td>
                                <td>{{m.name}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </accordion-group>
                    <div data-ng-repeat="st in vm.profile.content.structure">
                        <accordion-group heading="Structure: {{st.type}}">
                            <div data-ng-repeat="el in st.element">
                                <h6>{{el.path}} Definition</h6>
                                <table class="table table-striped table-hover">
                                    <tr>
                                        <td>Short</td>
                                        <td>{{el.definition.short}}</td>
                                    </tr>
                                    <tr>
                                        <td>Formal</td>
                                        <td>{{el.definition.formal}}</td>
                                    </tr>
                                    <tr>
                                        <td>Comments</td>
                                        <td>{{el.definition.comments}}</td>
                                    </tr>
                                    <tr>
                                        <td>Cardinality</td>
                                         <td>{{el.definition.min}}..{{el.definition.max}}</td>
                                    </tr>
                                </table>
                            </div>
                        </accordion-group>
                    </div>

                </accordion>
            </div>
        </div>
    </section>
</section>