<section class="mainbar" data-ng-controller="profileQuestionnaire as vm">
    <section class="matter">
        <div class="container-fluid">
            <div>
                <button class="btn btn-info" data-ng-click="vm.goBack()"><i class="fa fa-hand-o-left"></i>Back</button>
                <button class="btn btn-info" data-ng-click="vm.renderForm(vm.group)"><i
                        class="fa fa-html5"></i>Render
                </button>
            </div>
            <div class="widget worange">
                <div data-cc-widget-header title="{{vm.questionnaire.group.title}}"></div>
                <accordion close-others="true">
                    <accordion-group heading="Metadata" is-open="vm.status.isFirstOpen"
                                     is-disabled="vm.status.isFirstDisabled">
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>Status</td>
                                <td>{{vm.questionnaire.status}}</td>
                            </tr>
                            <tr>
                                <td>Publisher</td>
                                <td>{{vm.questionnaire.publisher}}</td>
                            </tr>
                            <tr>
                                <td>Date</td>
                                <td>{{vm.questionnaire.date | date: mediumDate }}</td>
                            </tr>
                            <tr>
                                <td>Identifier</td>
                                <td>
                                    <div data-ng-repeat="id in vm.questionnaire.identifier">
                                        {{id.system}}::{{id.value}}<br/>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </accordion-group>
                    <accordion-group heading="{{vm.questionnaire.group.linkId}} Form Data">
                        <h3>{{vm.questionnaire.group.title}}</h3>

                        <p>{{vm.questionnaire.group.text}}</p>
                        <h5>Groups</h5>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Link ID</th>
                                <th>Text</th>
                                <th>Type</th>
                                <th style="text-align: center">Required</th>
                                <th style="text-align: center">Repeat</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr data-ng-repeat="group in vm.questionnaire.group.group">
                                <td>{{group.linkId}}</td>
                                <td>{{group.text}}</td>
                                <td><p data-ng-repeat="dt in group.extension">
                                    {{dt.valueString}}
                                    </p>
                                </td>
                                <td style="text-align: center"><i data-fs-true-check="group.required"></i></td>
                                <td style="text-align: center"><i data-fs-true-check="group.repeats"></i></td>
                            </tr>
                            </tbody>
                        </table>
                    </accordion-group>
                    <accordion-group heading="Rendered {{vm.questionnaire.group.linkId}}">
                        <h3>{{vm.questionnaire.group.title}}</h3>

                        <p>{{vm.questionnaire.group.text}}</p>
                        <data-ng-form name="patientEditForm" class="form-horizontal"
                                      data-ng-model="vm.questionnaire.group.linkId">
                            <fieldset>
                                <div class="form-group col-md-12">
                                    <!-- render form -->
                                    <div>
                                        <data-fs-questionnaire-groups groups="vm.questionnaire.group.group" />
                                    </div>
                                </div>
                            </fieldset>
                    </accordion-group>
                </accordion>
            </div>
        </div>
    </section>
</section>